polkit.addRule(function(action, subject) {
    if (subject.active != true || subject.local != true || !subject.isInGroup("wheel")) {
        return;
    }

    var safeActions = [
        "org.freedesktop.udisks2.filesystem-mount",
        "org.freedesktop.udisks2.filesystem-mount-system",
        "org.freedesktop.udisks2.filesystem-unmount-others",
        "org.freedesktop.udisks2.eject-media",
        "org.freedesktop.udisks2.encrypted-unlock",
        "org.freedesktop.udisks2.encrypted-unlock-system",
        "org.freedesktop.udisks2.encrypted-lock",
        "org.freedesktop.udisks2.power-off-drive",
        "org.freedesktop.udisks2.power-off-drive-system"
    ];

    if (safeActions.indexOf(action.id) >= 0) {
        return polkit.Result.YES;
    }
});
